// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap";


body {
    background-image: url('https://s3-eu-west-1.amazonaws.com/nordspitz/bg5.png');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.row {

  &.section {
    margin-top: 800px;
    height: 500px;
    background-color: #FEFDF9;
  }

}
